#tag-cloud {
	position: fixed;
	width: 240px;
}

span.twitter-typeahead {
  width: 100%;
  .tt-menu {
    position: absolute;
    top: 100%;
    left: 5;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  .tt-suggestion {
    > p {    
      display: block;
      padding: 3px 20px;
      margin-bottom: 0px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      :hover, :focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
      }
    }
    .tt-cursor {
      color: #ffffff;
      background-color: #428bca;
    }
  }
}

.input-group {
  span.twitter-typeahead {
    display: block !important;
    .tt-menu {
      top: 32px !important;
    }
  }
  .input-group-lg {
    span.twitter-typeahead .tt-menu {
      top: 44px !important;
    }
  }
  .input-group-sm {
    span.twitter-typeahead .tt-menu {
      top: 28px !important;
    }
  }
}

tr.dues-danger {
  background-color: #F2DEDE !important;
}

tr.dues-success {
  background-color: #DFF0D8 !important;
}

/* bootstrap cards for author page */
#out-books-header.card-header {
  background-color: #F47C3C;
}

#votes-header.card-header {
  background-color: #D9534F;
}

#check-out-header.card-header {
  background-color: #93C54B;
}

.card-header h5 {
  margin: 0;
  text-transform: uppercase;
}